.bgimg {
    position: relative; 
}

.bgimg::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/blueBgL.jpg');
    background-size: cover; 
    background-position: center;
    z-index: 0; 
}

.bgimg > div {
    position: relative; 
    z-index: 1; 
}
